* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height: 100vh;
}

.calculator-body {
    height: 500px;
    width: 350px;
    border: 1px solid black;
}

.result-container {
    margin: 10px;
    border: 1px solid black;
}

#recentResult {
    overflow: scroll;
    text-align: right;
    height: 27px;
}

#currentResult {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 70px;
    border: 1px solid red;
    font-size: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
}

.buttons-row {
    text-align: center;
}

.buttons-row > button {
    font-size: 20px;
    width: 70px;
    height: 50px;
}